*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:Root{
    scroll-behavior: smooth;
}


.contenedor{
    width: 100%;
    max-width: 1800px;
    overflow: hidden;
    margin: auto;
    padding: 70px 0;
}


  body{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.5) 0%, rgba(166, 193, 238, 0.5) 100%), url(img/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*header*/

.menu-navegacion{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.9);
    padding: 25px 7px 2px 7px;
}
.menu-navegacion a{
    padding: 30px;
    color: #ffff;
    font-family: cursive;
    font-size: 25px;
    text-decoration: none;
}


.content-slogan{
    padding: 170px 10px 10px 10px;
    text-align: center;
    font-family: Arial;
}

/*main*/

.imagen-productos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-productos img{
    width: 30%;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}   
/*footer*/

.footer{
    background: #333;
    padding-bottom: 0.1px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacto{
    width: 40%;
    color: #fff;
}

.social-media{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}   

.social-media-icon:hover{
    background: #fff;
    color: #000;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
