*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
font-family: 'Lobster', cursive;
}

:Root{
    scroll-behavior: smooth;
}


.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 241, 235, 0.5) 0%, rgba(172, 224, 249, 0.5) 100%), url(img/prueba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav-bar{
    position: fixed;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.8);
}
.menu-navegacion{
    /*position: fixed;*/
    display: flex;
    /*z-index: 100;*/
    padding: 0 220px 0 0;
}

.menu-navegacion a{
    color: #ffff;
    padding: 0 20px;
    font-family: cursive;
    font-size: 25px;
    text-decoration: none;
}

.logo{
    margin: 0;
    padding: 15px 0 0 240px;
}
.logo img{
    width: 110px;
}

.head{
    text-align: center;
    padding: 170px 0px 0px 0px;
}

.head img{
    width: 30%;
}

.slogan{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.subtitulo{
    padding: 0px 60px 40px;
    font-size: 40px;
    font-family: 'lobster', cursive;
}

.boton{
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 50px 0;
    /*text-decoration: none;*/
    /*color: #000;*/
}
.boton button{
    background: rgb(136, 136, 140);
    font-family: 'lobster', cursive;
    font-size: 23px;
    border: 0px solid;
    color: white;
    width: 180px;
    height: 60px;

}
.contenedor{
    width: 100%;
    max-width: 1800px;
    overflow: hidden;
    margin: auto;
    padding: 40px 150px;
}

.contenedor-conocenos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.texto-conocenos{
    width: 50%;
    font-size: 17px;
    padding: 200px 70px;
    font-family: DejaVu Sans Mono, monospace;
}

.texto-blog{
    width: 50%;
    font-size: 17px;
    padding: 100px 70px;
    font-family: DejaVu Sans Mono, monospace;
}
.imagen{
    width: 50%;
}

.imagen img{
    width: 100%;
}

.contenedor-accesorios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-accesorios img{
    width: 25%;
    display: block;
    margin: 10px 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor-ropa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-ropa img{
    width: 25%;
    display: block;
    margin: 10px 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor-vintage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /*padding: 0 10px;*/
}

.contenedor-vintage-imagen1{
    /*display: flex;*/
    width: 27%;
    justify-content: center;
    padding: 10px 10px;
}
.contenedor-vintage-imagen2{
    /*display: flex;*/
    width: 27%;
    justify-content: center;
    padding: 10px 10px;
}
.contenedor-vintage-imagen3{
    /*display: flex;*/
    width: 27%;
    justify-content: center;
    padding: 10px 10px;
}
.contenedor-vintage img{
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor-blog{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
/*fotter*/

.footer{
    background: #333;
    padding-bottom: 0.1px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contacto{
    width: 40%;
    color: #fff;
}

.social-media{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}   

.social-media-icon:hover{
    background: #fff;
    color: #000;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}



